<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capacitaciones">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".DetalleClase"></activity>
        <activity android:name=".DetalleGrupo" />
        <activity android:name=".DetalleCurso" />
        <activity android:name=".ListNotificaciones" />
        <activity android:name=".AddUsuario" />
        <activity android:name=".ListUsuario" />
        <activity android:name=".DetalleCurso" />
        <activity android:name=".ListClase" />
        <activity android:name=".AddClase" />
        <activity android:name=".AddRegistroUsuarios" />
        <activity android:name=".ListGrupo" />
        <activity android:name=".AddGrupo" />
        <activity android:name=".ListCurso" />
        <activity android:name=".Inicio" />
        <activity android:name=".AddCurso" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>